* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* dl, * ol, * ul {
  margin-top: 0;
  margin-bottom: 0; }

.navColor {
  background-color: goldenrod;
  font-weight: bold;
  position: fixed;
  background-size: cover;
  top: 0;
  font-size: 20px;
  z-index: 1; }

.navbar a {
  font-weight: bold;
  color: white;
  transition: 0.8s;
  font-size: 20px; }
  .navbar a:hover {
    color: blue; }

.dropdown-menu {
  background-color: black; }

.fondo2 {
  position: relative;
  background-color: black;
  background-size: cover;
  object-fit: cover;
  padding-top: 35px;
  padding-bottom: 100px; }

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/banner2.jpg);
  background-size: cover;
  height: auto;
  padding-top: 100px;
  align-items: center;
  padding-bottom: 100px;
  gap: 80px; }

.titulo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  color: white;
  align-items: center;
  text-align: center;
  gap: 15px; }

.sound {
  position: relative;
  display: flex;
  background-color: goldenrod;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  border-radius: 3px; }
  .sound p {
    margin-bottom: 0;
    font-weight: bold; }
  .sound img {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 5px; }

.contenedorBan {
  position: relative;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center; }

.contenedorBan-c {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: cyan;
  border-radius: 3px;
  border: solid 5px black;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 20%;
  transition: 1s all; }
  .contenedorBan-c:hover {
    box-shadow: 0 0 30px 5px white; }
  .contenedorBan-c img {
    position: relative;
    display: flex;
    width: 80px;
    height: 80px; }
  .contenedorBan-c p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }

.contenedor-bg {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 20px; }

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 20px;
  color: white;
  width: 60%;
  gap: 20px;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  align-items: center; }

.p2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px; }

.icono {
  position: relative;
  width: 100%; }
  .icono img {
    border-radius: 5px; }

.wpp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #609b07;
  width: 50%;
  height: 100px;
  border-radius: 5px;
  padding: 0 5%;
  transition: all 1s; }
  .wpp:hover {
    box-shadow: 0 0 30px 5px white; }
  .wpp p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0; }
  .wpp img {
    position: relative;
    height: 50px;
    width: 50px; }

.parte2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 40%;
  height: 100%;
  justify-content: center; }

.formulario {
  position: relative;
  color: black;
  width: 70%;
  border: solid 10px goldenrod;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 50px;
  padding-bottom: 10%; }

.formulario div {
  padding-top: 30px; }

.formulario div ::placeholder {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.btns {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-direction: column;
  align-items: center; }

.Boton1 {
  display: flex;
  justify-content: center;
  border: solid 3px goldenrod;
  color: black;
  background-color: gainsboro;
  border-radius: 5px;
  width: 50%; }

.caja {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  gap: 20px;
  margin-top: 100px; }

.tabla {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 20px;
  color: black;
  justify-content: center;
  background-color: gainsboro;
  border: solid 5px goldenrod;
  margin-left: 5%;
  border-radius: 10px;
  width: 50%;
  overflow: hidden; }

table {
  height: 100%; }

.tabla td {
  color: black; }

.tabla th {
  padding-right: 50px; }

.division {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; }

.listas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%; }

.lista {
  position: relative;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  font-weight: bold;
  width: 70%; }

.ContratarC {
  position: relative;
  display: flex;
  gap: 20px; }

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%; }

.contratar {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  padding: 10px;
  margin-top: 10%;
  border: cyan 3px solid;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 15px; }

.fbronce {
  background-color: #643005; }

.fplata {
  background-color: silver; }

.foro {
  background-color: goldenrod; }

.bronce {
  color: #643005; }

.plata {
  color: silver; }

.oro {
  color: goldenrod; }

footer {
  position: relative;
  display: flex;
  background-color: goldenrod;
  background-size: cover;
  gap: 50px;
  justify-content: center; }
  footer div {
    position: relative;
    display: flex;
    width: 20%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    justify-content: center; }
  footer div img {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s all;
    opacity: 0.5; }
    footer div img:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0 0 5px 3px white;
      opacity: 1; }
  footer p {
    position: relative;
    display: flex;
    font-size: 15px;
    color: white;
    margin-bottom: 0;
    align-items: center; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0; }

@media only screen and (max-width: 480px) {
  .fondo2 {
    position: relative;
    background-image: url(../assets/viejo-fondo-negro-textura-grunge-papel-tapiz-oscuro-pizarra-pizarra-pared-habitacion_1258-28312.webp);
    background-size: cover;
    object-fit: cover;
    padding-bottom: 100px; }
  .banner {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/banner2.jpg);
    background-size: cover;
    height: auto;
    padding-top: 50px;
    align-items: center;
    padding-bottom: 100px;
    gap: 60px;
    padding: 50px 10px; }
  .titulo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    color: white;
    align-items: center;
    text-align: center;
    gap: 15px; }
  .sound {
    position: relative;
    display: flex;
    background-color: goldenrod;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 3px; }
    .sound p {
      margin-bottom: 0;
      font-weight: bold; }
    .sound img {
      position: relative;
      display: flex;
      width: 50px;
      height: 50px;
      border-radius: 5px; }
  .contenedorBan {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center; }
  .contenedorBan-c {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: cyan;
    border-radius: 3px;
    border: solid 5px black;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 60%; }
    .contenedorBan-c img {
      position: relative;
      display: flex;
      width: 80px;
      height: 80px; }
    .contenedorBan-c p {
      color: black;
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
  .contenedor-bg {
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px; }
  .info {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    color: white;
    width: 60%;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    align-items: center; }
  .p2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 150px; }
  .icono {
    position: relative;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center; }
    .icono img {
      border-radius: 5px; }
  .wpp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #609b07;
    width: auto;
    height: 100px;
    border-radius: 5px;
    padding: 0 5%; }
    .wpp p {
      font-size: 15px;
      text-align: center;
      margin-bottom: 0; }
    .wpp img {
      position: relative;
      height: 50px;
      width: 50px; }
  .parte2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 150px; }
  .formulario {
    position: relative;
    color: black;
    width: 80%;
    border: solid 10px goldenrod;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    padding-bottom: 10%; }
  .formulario div {
    padding-top: 30px; }
  .formulario div ::placeholder {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif; }
  .btns {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .Boton1 {
    display: flex;
    justify-content: center;
    border: solid 3px goldenrod;
    color: black;
    background-color: gainsboro;
    border-radius: 5px;
    width: 50%; }
  .mapa {
    display: flex;
    flex-direction: column;
    gap: 10px; }
  .caja {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    align-items: center;
    margin-top: 1200px; }
  .tabla {
    display: flex;
    position: relative;
    font-size: 15px;
    color: black;
    background-color: gainsboro;
    background-size: cover;
    border: solid 5px goldenrod;
    padding: 0 5% 0 5%;
    margin-left: 0;
    border-radius: 10px;
    width: 95%;
    overflow: hidden;
    height: auto; }
  .tabla td {
    color: black;
    width: 10%;
    padding-top: 10%;
    padding-bottom: 10%; }
  .tabla tr {
    padding-top: 10%;
    width: 10%; }
  .tabla th {
    padding-right: 20px;
    width: 10%; }
  .division {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10%; }
  .listas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%; }
  .lista {
    display: flex;
    position: relative;
    font-size: 30px;
    flex-direction: column;
    font-weight: bold; }
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; }
  .contratar {
    display: flex;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 10%;
    border: cyan 5px solid;
    border-radius: 5px;
    font-weight: bold; }
  .ContratarC {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; }
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    background-size: cover;
    justify-content: center;
    gap: 0; }
    footer div {
      position: relative;
      display: flex;
      width: 100%;
      height: 20%;
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 10px;
      justify-content: center; }
    footer div img {
      position: relative;
      display: flex;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      transition: 0.5s all;
      opacity: 0.5; }
      footer div img:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 0 0 5px 3px white;
        opacity: 1; }
    footer p {
      position: relative;
      display: flex;
      font-size: 15px;
      color: white;
      margin-bottom: 0;
      align-items: center; }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0; } }
